$bubble_height: 100px;
$bubble_width: 100px;

@mixin bubble($color) {
  background-color: $color;
  border-radius: 50%;
  margin: 0 1rem;
  position: absolute;
  height: $bubble_height;
  width: $bubble_width;
}

@mixin position($top: null, $right: null, $bottom: null, $left: null) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

$bubbleColor: blue;
$primary_2: #333;
%align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: $primary_2;
  padding: 1rem;
  margin: 4rem auto;
  max-width: 80vw;
  color: white;
  border-radius: 20px;
  height: 150px;
  position: relative;
  overflow: hidden;
  @extend %align-center;
  
  @media screen and (max-width: 768px) {
    max-width: 90vw;
  }
  
  &_header {
    font-weight: 500;
    color: #fff;
  }
  
  &_bubble1 {
    @include bubble($bubbleColor);
    @include position(-10px, null, null, -50px);
  }
  
  &_bubble2 {
    @include bubble($bubbleColor);
    @include position(null, -50px, -10px, null);
  }
}
