%align-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 1rem;
  border-bottom: 1px solid #2d2e36;
  @extend %align-between;

  &_header, &_button {
    &:hover {
      cursor: pointer;
    }
  }

  &_header {
    font-weight: 600;
    color: #fff;
    
    a {
      text-decoration: none;
      color: inherit;  // Inherits the color from its parent, the header
    }
  }

  &_button {
    background-color: $primary_2;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
  }
}
